.full-width-button {
    width: 100%;
}

body {
    background-color: #f8f9fa;
}

.upload-graphic {
    background-color: #e9ecef;
    padding: 42px 42px 35px 42px;
    font-size: 22px;
    cursor: pointer;
    width: 100%;
}

    .upload-graphic .fas {
        font-size: 28px;
    }
