.full-width-button {
    width: 100%;
}

body {
    background-color: #f8f9fa;
}

.upload-graphic {
    background-color: #ebebeb;
    padding: 42px 42px 35px 42px;
    font-size: 26px;
    cursor: pointer;
    width: 100%;

    .fas {
        font-size: 34px;
    }
}